*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("./imgs/Universe planet.jpg");
}

canvas{
	background-image: url("./imgs/Universe planet.jpg");
	background-repeat: no-repeat;
	background-position: center;
	border:0 solid black; 
	margin:0 auto;
	display:block
}
